 <!-- Page Header End -->
 <div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-4">Teachers</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Teachers</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Popular Teachers</h1>
            <p style="color:black;font-weight: bold;">“In kindergarten, there are no wrong answers, only the joy of discovery.” “Teaching kindergarten requires patience, creativity, and endless energy.” “Kindergarten is where imagination runs wild and creativity is celebrated.” “Teaching kindergarten is about teaching children how to learn, not just what to learn.”</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75" src="assets/img/team-1.jpg" alt="">
                    <div class="team-text">
                        <h3>Tessa</h3>
                        <p>Art Management</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75" src="assets/img/team-2.jpg" alt="">
                    <div class="team-text">
                        <h3>John</h3>
                        <p>Sports Management</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75" src="assets/img/team-3.jpg" alt="">
                    <div class="team-text">
                        <h3>Rebecca</h3>
                        <p>Language Trainer</p>
                       
                    </div>
                </div>
            </div>
            </div>
            <h2 style="color:darkred;font-style: italic;">Daily Day Works!!</h2>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative">
                        <img src="assets/img/classes-6.jpg" alt="" >
                            
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative">
                        <img src="assets/img/classes-1.jpg" alt="" >
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative">
                        <img src="assets/img/classes-4.jpg" alt="" >
                        
                    </div>
                </div>
                </div>
                <p style="color: black;">Our program includes classes for children ages 12 months to pre-kindergarten taught by experienced and credentialed teachers in a diverse, educational, and welcoming atmosphere.  Located in the wonderful Willow Glen community of San Jose, Explorer is a magical haven where children, parents, and teachers thrive in a supportive and enriching environment</p>
                    <p style="color: black;">Our mission is to honor each child's individual ability to learn through play, and empower parents to become child advocates at home and in their community.</p>
                        <p style="color: black;">Our philosophy at Explorer is to provide a developmentally designed program with the intent of providing a strong early learning environment for both parents and children.  Our children's program is based on the growing knowledge of child development.  Materials and methods are research-based and children are given a choice of activities, which are supervised by the teacher and/or parents in the classroom.  Parents are trained as aides through practice and observation in the classroom and through seminars and discussion with credentialed teachers.</p>
                
                            
                        
                    </div>
                </div>
            
   
    

<!-- Team End -->


