<div class="container-xxl bg-white p-0">
   
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="assets/img/carousel-1.jpg" alt="">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-10 col-lg-8">
                        <h1 class="display-2 text-white animated slideInDown mb-4">Make A Brighter Future For Your Child</h1>
                        
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">School Facilities</h1>
            
            <h2 style="font-weight: 200;color:brown;"class=fs-5 fw-medium text-white mb-4 pb-2>
                A new school invites you exciting times ahead! have fun!!</h2>
                </div>
            <p style="font-style:italic;color:black;font-size: 20px;">A childcare centre might offer a different type of early childhood education from kindergarten, but both of them are under the category of preschool.

                Either kindergarten, childcare centre or any preschool, children spent lots of learning times and playtimes at there. As a learning environment, space must be responsive to the needs of children as well as to the flexibility of the educators. Have you ever thought about the role of the facilities in preschool play in early childhood education?
                
                Do you know there are some must-have facilities in preschool that can help to build a better learning environment? These five preschool facilities have proven their value in enhancing a better quality of learning environment. Let’s check them out!</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="facility-item">
                    <div class="facility-icon bg-primary">
                        <span class="bg-primary"></span>
                        <i class="fa fa-bus-alt fa-3x text-primary"></i>
                        <span class="bg-primary"></span>
                    </div>
                    <div class="facility-text bg-primary">
                        <h3 class="text-primary mb-3">School Bus</h3>
                        <p class="mb-0">"Our Wheels Roll for Learning," "Safety First: Kids Ride with Us," and "School Buses are the Safest Way to Roll." </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="facility-item">
                    <div class="facility-icon bg-success">
                        <span class="bg-success"></span>
                        <i class="fa fa-futbol fa-3x text-success"></i>
                        <span class="bg-success"></span>
                    </div>
                    <div class="facility-text bg-success">
                        <h3 class="text-success mb-3">Playground</h3>
                        <p class="mb-0">Learning Through Play...
                            You can’t have a playground without play. To put it simply, play is a spontaneous activity children engage in to have fun. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="facility-item">
                    <div class="facility-icon bg-warning">
                        <span class="bg-warning"></span>
                        <i class="fa fa-home fa-3x text-warning"></i>
                        <span class="bg-warning"></span>
                    </div>
                    <div class="facility-text bg-warning">
                        <h3 class="text-warning mb-3">Healthy Canteen</h3>
                        <p class="mb-0">Don't let hunger strike, come to the school canteen tonight.
                            Fill your tummy with yumminess, right here in our school canteen.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="facility-item">
                    <div class="facility-icon bg-info">
                        <span class="bg-info"></span>
                        <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                        <span class="bg-info"></span>
                    </div>
                    <div class="facility-text bg-info">
                        <h3 class="text-info mb-3">Positive Learning</h3>
                        <p class="mb-0">
                            Attitude Is A Little Thing That Makes A Big Difference
                            Learning Today . . . Leading Tomorrow
                            We teach, model, and encourage a love of learning, collaboration, and compassion for others.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Facilities End -->


<!-- Call To Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="assets/img/call-to-action.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Become A Leader..</h1>
                        <p style="color:black;font-size: larger;"class="mb-4"> "The duties of a teacher are neither few nor small, but they elevate the mind and give energy to the character"</p>
                            <p style="color:darkred">“The best way to predict your future is to create it.” —Abraham Lincoln. ... 
                        </p>
                        <a class="btn btn-primary py-3 px-5" routerLink="/login">Get Started Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->


 <!-- Back to Top -->
 <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

