<h1 style="color: maroon;font-style: italic;font-display:initial;">Welcome to Little Feats!!</h1>
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">

                    <p>
                        In general, children can go to preschool when they’re 4 years old, or in the year they turn 4. Some preschools in some states and territories also offer programs for 3-year-olds.</p>
                    
                       <p> Sometimes things can get in the way of children going to preschool. Play is a great way to support your child’s learning and development at home. You can encourage your child to try play activities that are like the activities they’d do at preschool – for example, playing with cardboard boxes, making a collage and reading together.
                        Where can children go to preschool?</p> 
                        
                       
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-50 rounded" src="assets/img/Globe_Toters-A_Birla_Preschool,Indore.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Become A Leader..</h1>
                        <p style="color:black;font-size: larger;"class="mb-4"> "The duties of a teacher are neither few nor small, but they elevate the mind and give energy to the character"</p>
                            <p style="color:darkred">“The best way to predict your future is to create it.” —Abraham Lincoln. ... 
                        </p>
                        
                        <a class="btn btn-primary py-3 px-5" routerLink="/about">Get Back<i class="fa fa-arrow-right ms-2"></i></a>
                        <p>In these preschool programs are run by qualified early childhood teachers:</p>
                        <p>Long day preschools: these programs run for an entire day and include a lunch program.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->

    
    
    
        
        
      
    
   
    
    <!-- Back to Top -->
 <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    
    
    
    


