<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Make Appointment</h1>
                        <form (ngSubmit)="save()" #appointmentForm="ngForm">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="gname" name="guardianName" [(ngModel)]="guardianName" required>
                                        <label for="gname">Guardian Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control border-0" id="gmail" name="guardianEmail" [(ngModel)]="guardianEmail" required>
                                        <label for="gmail">Guardian Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="cname" name="childName" [(ngModel)]="childName" required>
                                        <label for="cname">Child Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="cchildage" name="childAge" [(ngModel)]="childAge" required>
                                        <label for="cage">Child Age</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" required>
                                        <label for="phoneNumber">Phone Number</label>
                                    </div>
                                </div>
                                <!-- Add more form fields as needed -->

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Register</button>

                                </div>
                            
                                <!-- Add this button to toggle the details table -->
                               
                                
                            
                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="assets/img/appointment.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>